streamlit==1.30.0
cloudscraper==1.2.70
fake-useragent==1.4.0
pandas==2.2.1
beautifulsoup4==4.12.3
requests==2.31.0
lxml==5.2.1
typing-extensions==4.10.0
python-dateutil==2.9.0.post0
pytz==2024.1
